* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
body {
    height: 100%;
}
.container {
    height: 100%;
    background-color: rebeccapurple;
}

.nav {
    background-color: gold;
}

.menu {
    display: flex;
    flex-direction: row;
     /* justify-content: space-around;  */
}

.menu > li {
    background-color: green;
     padding: auto; 
      margin: auto;  
     display: block; 

}

.menu > li:hover {
    background-color: gray;
}

.main > section > ul > li{
    padding: 10px;
    margin: auto;
    text-align: center;
}